body {
  background: linear-gradient(91deg, #ff0000, #0005ff);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 8s ease infinite;
  -moz-animation: AnimationName 8s ease infinite;
  animation: AnimationName 8s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 4% 0%
  }

  50% {
    background-position: 97% 100%
  }

  100% {
    background-position: 4% 0%
  }
}

@-moz-keyframes AnimationName {
  0% {
    background-position: 4% 0%
  }

  50% {
    background-position: 97% 100%
  }

  100% {
    background-position: 4% 0%
  }
}

@keyframes AnimationName {
  0% {
    background-position: 4% 0%
  }

  50% {
    background-position: 97% 100%
  }

  100% {
    background-position: 4% 0%
  }
}


.side-panel{
  position: absolute;
  text-align: center;
  margin: auto;
  margin-left: 25px;
  width: 387px;
 
}

.side-panel-body{ 
  text-align: left;
  overflow-y: scroll;
  scrollbar-color: red;
  height: 550px;
  overflow-x: hidden;
  width: 385px;
}

.landing-box{
  margin-top: 25px;
  margin-left: 25px;
  text-align: center;
  height: 300px;
  width: 300px;
  margin-inline-start: 50%;
}

.title{
  font-size: 25px;
}