:root {
   --bg-color: #3E1E68;
}

.darkmode {
   background: #1d0937;
}

body {
   font-family: 'Brush Script MT', cursive;
   background-color: var(--bg-color);
}
/* #1d0937 for dark mode backgroud */


.switcher{
   border: 5px solid pink;
   border-radius: 25px;
}

.card {
   text-align: center;
   margin-top: 20%;
   margin-left: 20%;
   margin-right: 20%;
   padding-left: 50%;
   padding-top: 50%;
   border: 2px solid purple;
   padding: 20px;
   border-radius: 25px;
   background-color: darkorchid;
   border-style: none none solid none;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card h1{
   font-size: 45px;
   margin-bottom: 20px;
   margin-top: 20px;
   color: white;
}

.card p{
   font-size: 20px;
   color: white;
   margin-bottom: 20px;
   margin-top: 20px; 
}

.card a{
   margin-top: 20px;
   padding: 10px;
   background-color: violet;
   border-radius: 15px;
   text-decoration: none;
   color: purple;
}

.card a:link{
   text-decoration: none;
   color: purple;
}

.card a:hover{
   background-color: purple;
   color: white;
   text-decoration: none;
   border-radius: 15px;
}

.card i{
   padding-right: 10px;
   padding-left: 5px;
}

.tooltip {
   color: gray;
   font-size: 10px;
   text-align: center;
}

.navbar {
   padding-top: 50%;
   border: 2px solid purple;
   padding: 5px;
   background-color: darkorchid;
   border-style: none none solid none;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar a:hover{
   background-color: purple;
   color: white;
   text-decoration: none;
   border-radius: 15px;
   padding: 5px;
}

.navbar a:link{
   text-decoration: none;
}

.navbar a{
   margin-top: 20px;
   background-color: #ac39e6;
   border-radius: 15px;
   text-decoration: none;
}

.slash {
   color: white;
   border: 3px solid;
   border-radius: 25px;
   padding: 0.2px;
   margin-left: 10px;
   margin-right: 10px;
   background-color: white;
}

